<html>
    <head>
      
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>TrackCSU 后台页面</title>

      <!-- Bootstrap -->
      <link href="css/bootstrap.min.css" rel="stylesheet">
      <link href="css/dashboard.css" rel="stylesheet">
      <link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet">

      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>
    <body>
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Track CSU 后台界面</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><%= user.get("username") %></a></li>
            <li><a href="/logout">注销账号</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="form-group col-sm-2">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' value="<%=date%>" class="form-control" id="date" data-date-format="YYYY-MM-DD"/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <a href="" class="btn btn-primary" id="getData">查询</a>
          <h1 class="sub-header">定位数据</h1>
          <nav>
            <ul class="pagination">
              <%
              var preLink = "#";
              var nextLink = "#";
              var preClass = "";
              var nextClass = "";
              if(pageNum <= 1){
                nextLink = "/profile?date="+date+"&p=2";
                preClass ="disabled";
              }else if(pageNum >= totalPageNum){
                preLink = "/profile?date="+date+"&p="+(pageNum-1);
                nextClass ="disabled";
              }else{
                nextLink = "/profile?date="+date+"&p="+(pageNum+1);
                preLink = "/profile?date="+date+"&p="+(pageNum-1);
              }


                %>
              <li class="<%=preClass%>">
                <a href="<%=preLink%>" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>

              <% if (totalPageNum){ %>
                  <%  for(var i=1; i<totalPageNum+1; i++) { 
                      var className = "";
                      if(i == pageNum){
                        className = "active";
                      }
                    %>
                      <li class="<%=className%>"><a href="/profile?date=<%=date%>&p=<%=i%>"><%=i%></a></li>
                  <% }
                     } %>
              <li class="<%=nextClass%>">
                <a href="<%=nextLink%>" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Username</th>
                  <th>Longtitude</th>
                  <th>Latitude</th>
                  <th>CreatedTime</th>
                  <th>Timeout</th>
                </tr>
              </thead>
              <tbody>
              <% if (locations){ %>
                  <%  locations.forEach(function (location){ %>
                  <tr>
                    <td> <%= location.get('username') %> </td>
                    <td> <%= location.get('longitude') %> </td>
                    <td> <%= location.get('latitude') %> </td>
                    <td> <%= moment(location.createdAt).zone("+08:00").format("YYYY-MM-DD HH:mm:ss") %> </td>
                    <td> <%= location.get('timeout') %> </td>
                  </tr>
                  <% })
                     } %>
              </tbody>
            </table>
          </div>
          <nav>
            <ul class="pagination">
              <li class="<%=preClass%>">
                <a href="<%=preLink%>" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>

              <% if (totalPageNum){ %>
                  <%  for(var i=1; i<totalPageNum+1; i++) { 
                      var className = "";
                      if(i == pageNum){
                        className = "active";
                      }
                    %>
                      <li class="<%=className%>"><a href="/profile?date=<%=date%>&p=<%=i%>"><%=i%></a></li>
                  <% }
                     } %>
              <li class="<%=nextClass%>">
                <a href="<%=nextLink%>" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.1.11.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/moment.js"></script>
    <script type="text/javascript" src="js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({
                  defaultDate:moment(),
                  language:"zh-CN"
                });
            });
            $(document).ready(function () {
              $("#getData").click(function() {
                  var link = "/profile?date="+$("#date").val();
                  $(this).attr("href", link);
              });
            });
        </script>
    </body>
  </html>