<html>
    <head>
      
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>TrackCSU 注册页面</title>

      <!-- Bootstrap -->
      <link href="css/bootstrap.min.css" rel="stylesheet">
      <link href="css/signin.css" rel="stylesheet">

      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>
    <body>
      <div class="container">
        <form class="form-signin" role="form" method="post" action="/signup">
          <h2 class="form-signin-heading">Track CSU注册界面</h2>
          <label for="inputEmail" class="sr-only">邮箱：</label>
          <input type="email" id="inputEmail"  name='inputEmail' class="form-control" placeholder="邮箱地址" required autofocus>
          <label for="inputUsername" class="sr-only">用户名：</label>
          <input type="username" id="inputUsername" name='inputUsername'  class="form-control" placeholder="输入用户名" required autofocus>
          <label for="inputPassword" class="sr-only">密码：</label>
          <input type="password" id="inputPassword" name='inputPassword'  class="form-control" placeholder="用户密码" required>
          <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
        </form>

      </div> <!-- /container -->
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.1.11.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    </body>
  </html>